.navbar{
    padding: 0;
    height: 50px;
    /* background-color: #003580; */
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    align-content: flex-start;
  }
  
  .logo{
    font-size: large;
    font-weight: 600;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }

  .logoImage{
    align-items: center;
    height: 180px;

  }